.completetask-container {
    text-align: center;
}

.completetask-container ul {
    list-style-type: none;
    padding: 0;
    background-image: linear-gradient(rgb(164, 234, 0), green);
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

.completetask-container li {
    padding: 10px;
}

.completetask-container li p {
    font-size: 20px;
    font-weight: 600;
}